@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#621d70, #10064b);
  color: #e1eeeb;
  min-height: 100vh;
}

#content {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem;
  /* background: radial-gradient(#0b201d, #021619);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8); */
  background: rgba(80, 209, 191, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(80, 209, 191, 0.27);
}

h1 {
  font-family: "Handjet", monospace;
  text-align: center;
  text-transform: uppercase;
  color: #c1e2dd;
  text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
  font-size: 3.5rem;
  margin: 0;
}

h1 em {
  font-style: normal;
  color: #c015e2;
}

header p {
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
  color: #c1e2dd;
}

#player {
  text-align: center;
}

#player h2 {
  color: #9a60c9;
}

#player p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player input {
  font: inherit;
  border: 1px solid #9a60c9;
  background-color: transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.25rem;
  color: #d1f0ec;
}

#player button {
  cursor: pointer;
  background-color: #9a60c9;
  border: 1px solid #9a60c9;
  padding: 0.3rem 1rem;
  color: #061e1a;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font: inherit;
  font-size: 14px;
}

#player button:hover {
  background-color: #c015e2;
  border-color: #c015e2;
}

#challenges {
  max-width: 50rem;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.challenge {
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem auto;
  background: linear-gradient(#89deee, #9294ff);
  color: #221c18;
  box-shadow: 0 2px 8px rgba(35, 34, 34, 0.6);
  border-radius: 6px;
}

.challenge button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #294257;
  color: #edfcfa;
  font-size: 1.2rem;
  cursor: pointer;
}

.challenge button:hover {
  background: #051715;
}

.challenge h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #221c18;
}

.challenge-time {
  border: 1px solid #46cebe;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
}

.challenge .active {
  animation: flash 1s infinite;
}

.result-modal {
  border: none;
  border-radius: 8px;
  padding: 2rem;
  background-color: #d7fcf8;
  background: rgb(223, 118, 254, 0.479);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(223, 118, 254, 0.27);
}

.result-modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.result-modal::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

.result-modal h2 {
  font-family: "Handjet", monospace;
  margin: 0 0 0.25rem 0;
  font-size: 3rem;
  text-transform: uppercase;
}

.result-modal progress {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  accent-color: #46cebe;
}

.result-modal p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.result-modal p strong {
  color: #f8f8f8;
}

.result-modal form {
  text-align: right;
}

.result-modal button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #000000;
  color: #edfcfa;
  font-size: 1.2rem;
  cursor: pointer;
}

.result-modal button:hover {
  background: #051715;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
